
# All hidden files
.*
!/.gitignore
/.idea/.idea.TaxiDispatcher/.idea/workspace.xml
/.idea/.idea.TaxiDispatcher/.idea/contentModel.xml

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
